<div class="pt-100 min-vh-100 d-flex flex-column router-outlet">
  <div class="container flex-grow-1 py-5 my-5">
<div class="pt-100 min-vh-50  d-flex flex-column homeComp">
<div class=" d-flex justify-content-center align-items-center text-white">
  <div class="text-center">
      <img src="../../assets/img/avataaars.svg" class="mb-3" alt="">
      <app-title [title]="title" [titleColor]="homeTitleColor"/>
      <div class="text-white">Graphic Artist - Web Designer - Illustrator</div>
  </div>
</div>
</div>
</div>
</div>
